form {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 0 10px 30px 10px;
  padding: 5px;
}
input {
  margin: 5px 0 15px 0;
}
.update-buttons-container {
  display: flex;
}
button {
  flex-grow: 1;
}
